header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    background-color: #fff;
    top: 0;
    z-index: 1;
}

header a {
    font-size: 15px;
    font-weight: 600;
    margin-right: 25px;
  }

a {
    text-decoration: none;
    color: #213053;
  }

.header__logo {
    height: 30px;
    width: auto;
  }

button {
    font-family: 'Raleway', sans—serif;
    font-size: 15px;
    color: #fff;
    background-color: #23a030;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 16px 36px rgb(52 213 68 / 22%);
    padding: 15px;
    transition: all 0.2s;
  }

body {
    font-family: 'Raleway', sans-serif;
    color: #213053;
    margin: 0;
  }

.about__image {
    width: 500px;
  }
   
.about__sun-image {
    width: 100px;
    height: 100px;
  }
  .about__sun-image {
    animation: rotation;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    position: absolute;
  }

.about {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 115px;
    padding-top: 115px;
    background: url('img/back.png') no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.about h1 {
    font-size: 70px;
    line-height: 76px;
}

.about p {
    font-size: 18px;
    line-height: 30px;
    opacity: 0.8;
}

.about button {
    font-size: 18px;
    border-radius: 20px;
    padding: 20px 25px;
    margin-top: 20px;
}

.about__info {
    max-width: 550px;
  }

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1D263A;
    color: #fff;
    padding-top: 115px;
    padding-bottom: 115px;
    text-align: center;
}

.form h1 {
  font-size: 48px;
}

.form p {
  font-size: 18px;
  opacity: 0.65;
}

.form__group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form form {
  display: grid;
  grid-gap: 20px;
  margin-top: 60px;
}

.form label {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 15px;
}

.form input, select {
font-size: 18px;
color: #213053;
height: 60px;
padding: 0 0 0 20px;
border-radius: 15px;
border: none;
}

.form__submit {
font-size: 18px;
font-weight: 600;
margin-top: 40px;
}

select {
appearance: none;
}

input {
outline: none;
}

.form__containter {
    width: 550px;
}

button:hover {
  background-color: #f6980c;
  box-shadow: 0 16px 36px rgba(246 152 12 / 20%);
  transition: background-color 0.8s ease-in; 
}

footer {
  padding: 20px 90px 20px 90px;
  font-size: 16px;
  font-weight: 600;
}

.footer__copyright {
  padding-top: 40px;
  text-align: center;
  opacity: 0.5;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.footer__group {
  padding-right: 80px;
}

.footer__container h3 {
  font-size: 16px;
  opacity: 0.7;
  padding-bottom: 30px;
}

.footer__links {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

.footer__links a {
    padding-bottom: 15px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(720deg);
  }
}

/* Планшеты */
@media (max-width: 1024px) {
  .about {
      padding: 115px 20px;
  }

  .about h1 {
      font-size: 36px;
      line-height: 40px;
  }

  .about__image {
      width: 280px;
  }

  .about__sun-image {
      width: 75px;
      height: 75px;
  }
}

/* Мобильные устройства */
@media (max-width: 720px) {
  header {
      padding: 10px !important;
  }

  .header__logo {
      height: 20px !important;
  }

  header a {
      margin-right: 10px !important;
  }

  .about {
      flex-direction: column-reverse;
      padding: 50px 10px;
  }

  .about h1 {
      font-size: 36px;
      line-height: 40px;
  }

  .about__image {
      width: 280px;
  }

  .about__sun-image {
      width: 75px;
      height: 75px;
  }

  .form {
      padding: 50px 10px;
  }

  .form h1 {
      font-size: 36px;
  }

  footer {
      padding: 50px 10px !important;
  }

  .footer__container {
      flex-direction: column !important;
  }

  .features{
    /* background-color: #3F6CAF !important; */
    background-color: #fff !important;
    padding: 50px 10px 50px 10px !important;
  }

  .cards {
    grid-template-columns: auto !important;
  }

  .features__feedback {
    flex-direction: column !important;
  }

  .features__feedback-left {
    padding: 0px !important;
  }

  .features__box h3{
    font-size: 25px !important;
  }

  .features__savings-box {
    padding-right: 0px !important;
    padding-bottom: 30px !important;
  }

  .features__feedback-right {
    display: flex;
    flex-direction: column;
  }

  .features__savings-box {
    margin-right: 0px !important;
    margin-bottom: 30px;
  }

  .promo{
    flex-direction: column-reverse !important;
  }

  .promo__image {
    height: 400px !important;
    width: 100% !important;
  }

  .promo__right {
    padding: 50px 10px 50px 10px !important;
  }

  .promo__card {
    padding: 10px 30px 10px 30px !important;
    font-size: 20px !important;
  }
}

.fa-angle-right {
  font-size: 15px;
}

.about__images {
  display: inline-block;
  margin: 0 0.5rem;
  animation: fadeInRightBig;
  animation-duration: 1s;
  /* animation-delay: 1s; */
}

.about__info {
  display: inline-block;
  margin: 0 0.5rem;
  animation: fadeInLeftBig;
  animation-duration: 1s;
  /* animation-delay: 1s; */
}

.features{
  background-color: #fff;
  padding: 115px 60px 115px 60px;
}

.cards {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

[class^="card-"] {
  padding: 35px 40px 25px 40px;
  border: 1px solid #D9E4E6;
  border-radius: 5px;
}

[class^="card-"] p {
  font-size: 14px;
  line-height: 22px;
  opacity: 0.8;
  /* text-align: justify; */
}

.card__logo {
  height: 100px;
  width: 100px;
  font-size: 32px;
  font-weight: 700;
  border-radius: 50%;
  background-color: #eaeff9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-solar-panel {
  color: #ffb406;
}

.allday {
  color: #ad1714;
}

.fa-chart-line {
  color: #22a030;
}

.features__border {
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid #E6EAF4;
  border-radius: 5px;
}

.features__feedback {
  display: flex;
}

.features__feedback-left {
  padding: 10px;
}

.features__feedback-left h2 {
  font-size: 30 px;
}

.features__feedback-left p {
  font-size: 18px;
  line-height: 20px;
  opacity: 0.7;
}

.features__feedback-right {
  display: flex;
}

.features__box {
  padding: 30px 40px 25px 40px;
  color: #fff;
  border-radius: 25px;
}

.features__box h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
}

.features__savings-box {
  background-color: #dc5e26;
  box-shadow: rgb(221 95 38 / 20%);
  box-shadow: 0px 6px 0px;
  margin-right: 30px;
}

.features__rate-box {
  background-color: #1D263A;
  box-shadow: rgb(29 38 58 / 20%);
  box-shadow: 0px 6px 0px;
}

.stars {
  color: #ff7039;
}

.promo {
  display: flex;
}

.promo__image {
  display: flex;
  background: url('img/promo.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  width: 50vw;
  flex-shrink: 0;
}

.promo__right {
  background-color: #dd5f26;
  padding: 160px 60px 160px 60px;
}

.promo__card {
  background-color: #fff;
  padding: 30px 40px 30px 40px;
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;
  border-radius: 25px;
}

.promo__card p {
  opacity: 0.8;
}

.promo__card p::before {
  content: '';
  /* padding-inline-start: 10px; */
  position: relative;
  display: block;
  float: left;
  background-color: #ec6b29;
  margin: 10px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

/* .promo__card_circle {
  position: relative;
  background-color: #ec6b29;
  margin: 20px auto;
  width: 10px;
  height: 10px;
  border-radius: 5px;
} */
/* кавычки */
/* .promo__card p::before {  
  content: open-quote;  
  font-size: 24pt;  
  text-align: center;  
  line-height: 42px;  
  color: #030101;  
  background: #ddd;  
  float: left;  
  position: relative;  
  top: 30px;  

} */

/* список */
/* .promo__card p {
  display: list-item;
  padding-inline-start: 10px;
  color: #ec6b29;
} */
.promo__button {
  text-align: center;
  /* margin: 30px 15px 30px 15px; */
}

.promo__button button{
  background-color: #107b1c;
  margin-top: 20px;
  /* padding: 100px; */
  font-size: 18px;
  font-weight: 600;
}

.fa-chevron-right{
  font-size: 15px;
  margin-right: 15px;
}

.orb-canvas {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}